body {
  background-color: rgb(205, 205, 245);
}

.container {
  width: 80%;
  padding-left: 3rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column; 
  justify-content: center;
  padding-bottom: 6rem;
  border-radius: 2rem;
}

.talk {
  padding: 0 8rem;
}

.talk-button {
  margin: 0 12rem;
  margin-top: 1rem;
  text-align: center;
}